h1, h2, h3, h4, h5, h6 {
    margin-bottom: 2rem;
}

.navbar {
    padding: 2rem 1rem;
    font-weight: 700;
}

.o_header_affixed.o_header_is_scrolled .navbar {
    padding: 0.75rem 1rem;
}

.mdi-lg {
    font-size: 1.5em;
    line-height: 0.75em;
}