h1, h2, h3, h4, h5, h6 {
    margin-bottom: 2rem;
}

.navbar {
    padding: 2rem 1rem;
    font-weight: 700;
}

.nav-link {
    padding: 0;
}

.o_header_affixed.o_header_is_scrolled .navbar {
    padding: 0.75rem 1rem;
}

.mdi-lg {
    font-size: 1.5em;
    line-height: 0.75em;
}

section.s_video_169 div.media_iframe_video_size {
    padding-bottom: 56.25%;
}

section.s_video_43 div.media_iframe_video_size {
    padding-bottom: 75%;
}

.now-product-list-image {
    object-fit: contain !important;
}

.card, .card-body {
    background-color: transparent !important;
}

.website_blog #o_wblog_posts_loop .o_record_cover_container {
    padding-top: 100% !important;
}

#product_detail ~ .oe_structure.oe_empty > section:first-child, .o_shop_discussion_rating {
    border-top: 0px !important;
}

/* dynamic produc cards */
.o_carousel_product_card_body a {
    color: #black;
}

.o_carousel_product_card_body a:hover {
    color: #gray;
}

/* shop grid */
#products_grid .o_wsale_products_grid_table_wrapper > .table .o_wsale_product_grid_wrapper.o_wsale_product_grid_wrapper_1_1 {
    padding-top: 0;
}

#products_grid .o_wsale_products_grid_table_wrapper > .table .o_wsale_product_grid_wrapper > * {
    position: relative;
}

#products_grid .o_wsale_products_grid_table_wrapper > .table .o_wsale_product_grid_wrapper > *.card {
    border: 1px;
    border-style: solid;
    border-color: #CED4DA;
}

#products_grid .oe_product {
    padding: 1 rem;
}

#products_grid .oe_product_cart .oe_product_image {
    height: auto;
}

#products_grid .oe_product_cart .oe_product_image img {
    height: auto;
    object-fit: contain;
}

#products_grid .o_wsale_products_grid_table_wrapper > .table > tbody > tr > td {
    padding: 1rem;
}
