.alert.mdi::before,
.breadcrumb .mdi::before,
.btn.mdi::before,
.card-title.mdi::before,
.card-subtitle.mdi::before,
.card-link.mdi::before,
.dropdown-item.mdi::before,
.list-group-item.mdi::before,
.nav-link.mdi::before {
    font-size: 1.25em;
    line-height: initial;
    position: relative;
    top: 0.09rem;
}
.alert.mdi::before,
.breadcrumb .mdi:not(:empty)::before,
.btn.mdi:not(:empty)::before,
.card-title.mdi:not(:empty)::before,
.card-subtitle.mdi:not(:empty)::before,
.card-link.mdi:not(:empty)::before,
.dropdown-item.mdi:not(:empty)::before,
.nav-link.mdi:not(:empty)::before {
    margin-right: 0.25rem;
}
.list-group-item.mdi:not(:empty)::before {
    margin-right: 0.5rem;
}
.dropdown-item.mdi:not(:empty)::before {
    margin-left: -0.75rem;
}
.alert.mdi::before,
.list-group-item.mdi:not(:empty)::before {
    margin-left: -0.5rem;
}
.modal-title.mdi::before {
    font-size: 1.5em;
    line-height: 0.5;
    position: relative;
    top: 0.26rem;
    margin-right: 0.5rem;
}



h1, h2, h3, h4, h5, h6 {
    margin-bottom: 2rem;
}

.navbar {
    padding: 2rem 1rem;
    font-weight: 500;
    font-size: 1.1rem;
}

.nav-link {
    padding: 0;
}

#top_menu.navbar-nav .nav-link{
    padding-left: 1rem;
    padding-right: 1rem;
}

.o_header_affixed.o_header_is_scrolled .navbar {
    padding: 0.75rem 1rem;
}

.mdi-lg {
    font-size: 1.5em;
    line-height: 0.75em;
}

section.s_video_yt .yt_spacer,
section.s_video_169 div.media_iframe_video_size {
    padding-bottom: 56.25%;
}

section.s_video_43 div.media_iframe_video_size {
    padding-bottom: 75%;
}

section.s_video_yt .container {
    max-width: unset;
}

.now-product-list-image {
    object-fit: contain !important;
}

.card, .card-body {
    background-color: transparent !important;
}

.website_blog #o_wblog_posts_loop .o_record_cover_container {
    padding-top: 100% !important;
}

#product_detail ~ .oe_structure.oe_empty > section:first-child, .o_shop_discussion_rating {
    border-top: 0px !important;
}

/* dynamic product cards */
.o_carousel_product_card_body a {
    color: #black;
}

.o_carousel_product_card_body a:hover {
    color: #gray;
}

#o-carousel-product .carousel-outer {
    height: auto !important;
}

.css_quantity .btn {
    padding: 0.5rem !important;
}

.css_quantity input {
    max-width: 45px !important;
}

.vatextrainfo {
    font-size: 0.9rem;
}


/* shop grid */
#products_grid .o_wsale_products_grid_table_wrapper > .table .o_wsale_product_grid_wrapper.o_wsale_product_grid_wrapper_1_1 {
    padding-top: 0;
}

#products_grid .o_wsale_products_grid_table_wrapper {
    margin: -1.5rem;
}

#products_grid .o_wsale_products_grid_table_wrapper > .table .o_wsale_product_grid_wrapper > * {
    position: relative;
}

#products_grid .o_wsale_products_grid_table_wrapper > .table .o_wsale_product_grid_wrapper > *.card {
    border: 1px;
    border-style: solid;
    border-color: #CED4DA;
}

#products_grid .oe_product {
    padding: 1rem;
}

#products_grid .oe_product_cart .oe_product_image {
    height: auto;
}

#products_grid .oe_product_cart .oe_product_image img {
    height: auto;
    object-fit: contain;
}

#products_grid .o_wsale_products_grid_table_wrapper > .table > tbody > tr > td {
    padding: 1rem;
    padding-bottom: 2.5rem;
}

#products_grid .product_price .h5 {
    font-weight: 400 !important;
    font-size: 0.8rem !important;
}

.css_attribute_color.pbutter {
    background: url("/theme_now/static/src/img/PBUTTER.png");
}

.css_attribute_color.wquartz {
    background: url("/theme_now/static/src/img/WQUARTZ.png");
}

.s_video_plyr {
    --plyr-color-main: silver;
}